* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

:root {
  --background-color: hsl(0, 0%, 8%);
  --second-background-color: #29d1eb1e;
  --text-color: hsl(63, 35%, 22%);
  --second-color: #eb1b7f;
  --main-color: #05b4ff;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  justify-content: space-between;
  /* position: fixed; */
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background: transparent;
  padding: 22px, 15%;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
  /* align-items: center; */
}

.logo {
  /* color: var(--text-color); */
  color: #05b4ff;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-left: 30px;
}
span {
  color: var(--main-color);
}
.navlist {
  display: flex;
}

.navlist {
  color: var(--second-color);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all 0.45s ease;
  gap: 65%;
}

.navlist a:hover {
  color: var(--main-color);
}
.navlist a {
  color: var(--main-color);
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 1000;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

section {
  padding: 160px 15% 120px;
}

.home {
  position: relative;
  background-image: cover;
  justify-content: flex-start;
  background-image: url(Images/background\ -4.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.slide {
  margin-bottom: 20px;
}

.one {
  display: inline-block;
  margin-right: 15px;
  padding: 0 15px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--text-color);
}

.two {
  display: inline-block;
  color: var(--second-color);
  font-size: 20px;
  font-weight: 500;
}

.home-text h1 {
  font-size: var(--big-font);
  font-weight: 700;
  color: var(--text-color);
  line-height: 1.1;
  margin: 0 0 8px;
}

.home-text h3 {
  color: var(--text-color);
  margin: 0 0 35px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
}
.home-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 40px;
}
.button {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 12px;
  background: var(--main-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.45s ease;
}

.btn:hover {
  transform: scale(0.9);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 5%;
}
.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.about-text h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  font-family: "Times New Roman", Times, serif;
  line-height: 1.8;
  margin-bottom: 4rem;
}

.services {
  background: var(--second-background-color);
}

.main-text {
  text-align: center;
}

.main-text p {
  color: var(--second-color);
  font-size: 15px;
  margin-bottom: 15px;
}

.main-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.box {
  background: var(--background-color);
  padding: 37px, 47px;
  border-radius: 10px;
  transition: all 0.45s ease;
  display: inline-block;
  width: 30%;
  margin: 10px;
  height: 30px;
}

.s-icons i {
  font-size: 32px;
  margin-bottom: 20px;
}

.box h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
}
.box p {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
}

.box:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

.projects-content {
  display: flex;
  height: 300%;
  width: 300%;
  gap: 2.5rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .projects-content {
    grid-template-columns: 2fr;
  }
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  flex: 1 1 250px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.row-img {
  width: 100%;
  border-radius: 8px;
  display: flex;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), hsla(180, 2%, 18%, 0.171));
  position: absolute;
  border-radius: 18px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: height 0.5s;
}

.layer h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p {
  color: rgb(223, 233, 222);
  font-size: 22px;
  line-height: 1.8;
}

.layer i {
  color: var(--main-color);
  margin-top: 20px;
  font-size: 20px;
  background: var(--text-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}

.contact {
  /* background: var(--second-background-color); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  background-color: black;
}

.contact-text h2 {
  color: var(--text-color);
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}

.contact-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.contact-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}

.list {
  margin-bottom: 2.8rem;
}

.list li {
  margin-bottom: 12px;
}

.list a {
  display: block;
  color: var(--second-color);
  font-size: 14px;
  transition: all 0.45s ease;
}

.list li a:hover {
  color: var(--text-color);
  transform: translateY(5px);
}

.contact-icons i {
  height: 45px;
  width: 45px;
  background: var(--main-color);
  /* color: var(--text-color); */
  color: chocolate;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all 0.45s ease;
}

.contact-icons i:hover {
  transform: scale(1.2);
  color: blue;
}

.contact-form form {
  position: relative;
}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 14px;
  background: var(--bg-color);
  /* color: var(--text-color); */
  color: #ffffff;
  border: none;
  outline: auto;
  font-size: 16px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.contact-form textarea {
  resize: none;
  height: 240px;
}

.contact-form .submit {
  display: inline-block;
  font-size: 16px;
  background: var(--main-color);
  color: var(--text-color);
  width: 160px;
  transition: all 0.45s ease;
}

.contact-form .submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.end {
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  /* background: var(--background-color); */
  background-color: rgb(193, 149, 5);
}

.last-text p {
  /* color: var(--background-color); */
  color: darkorange;
}

.top i {
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: var(--text-color);
  background: var(--main-color);
}

.thank-you {
  text-align: center;
}

.thank-you h2 {
  color: hsl(48, 91%, 50%);
  margin-bottom: 10px;
}

.thank-you p {
  color: #2a2828;
}

.SkillsHeading {
  text-align: center;
  margin: 50px 10px;
  font-size: 36px;
  letter-spacing: 0.6px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 10%;
}

.skills p {
  padding: 20px;
  margin: 10px;
  background-color: #1f1b1b;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.skills p:hover {
  background-color: #233f08;
  color: #ffffff;
}
